@mixin notification {
  .content {
    .top {
      font-size: 1rem;
      padding: .8rem .8rem 0;

      .icon {
        @include icon-image($size: 1.2rem);
      }

      .app {
        font-weight: 500;
      }

      .time {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .data {
      margin: 1rem;

      .image {
        @include icon-image($size: 4rem);
        border-radius: $radius;

        &.Screenshot {
          min-width: 384px;
          min-height: 216px;
        }

        &.Spotify,
        &.Color,
        &.Cider {
          @include icon-image($size: 6rem);
        }

        &.Kotatogram,
        &.discord {
          @include icon-image($size: 5rem);
        }
      }

      .summary {
        font-weight: bold;
        font-size: 1rem;
        padding-bottom: 0.5rem;
      }

      .body {
        font-size: 1rem;
      }
    }

    .actions {
      margin: 0 1rem 1rem;

      .action {
        @include button;
        font-weight: 500;
        padding: 0.5rem;
      }
    }
  }

  .close {
    min-width: 1.4em;
    min-height: 1.4em;
    border-radius: $radius;
    transition: 0ms;
  }

  &:hover {
    .close {
      @include button;
      transition: 0ms;
      background-color: transparentize($red, 0.6);

      &:hover {
        background-color: transparentize($red, 0.1);
        @if $theme=='dark' {
          color: $bg-color;
        }
      }

      &:active {
        background-color: $red;
      }
    }
  }
}