@mixin slider($width: 0.4rem, $color: $accent, $focusable: false, $radius: $radius, $player: false) {
  trough {
    transition: $transition;
    border-radius: $radius;
    border: $border;
    background-color: $button-bg;
    min-height: $width;
    min-width: $width;

    @if $player {
      background-color: transparentize(white, 0.8);
      border-radius: 0;
    }

    highlight,
    progress {
      border-radius: $radius;
      background-color: $color;
      min-height: $width;
      min-width: $width;

      @if $player {
        border-radius: 0;
      }
    }
  }

  &:hover trough {
    background-color: $hover;

    @if $player {
      background-color: transparentize(white, 0.7);
    }
  }

  @if $focusable {
    trough:focus {
      background-color: $hover;
      box-shadow: inset 0 0 0 $border-width $color;

      highlight,
      progress {
        background-color: transparentize($color, 0.3);
      }
    }
  }
}

@mixin app-color($player: false) {
  &.spotify {
    @include slider($color: $green, $player: $player);
  }

  &.brave,
  &.chrome {
    @include slider($color: $yellow, $player: $player);
  }

  &.chromium {
    @include slider($color: $blue, $player: $player)
  }

  &.mpv {
    @include slider($color: $purple, $player: $player)
  }

  &.cider {
    @include slider($color: $red, $player: $player)
  }
}